/* Container principal */
.blog-container {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  color: #333;
  background-color: #fff;
  border-radius: 12px;
}

/* En-tête */
.blog-header {
  text-align: center;
  margin-bottom: 30px;
}


.framed-image {
  width: 600;
  height: 600px;
  border-radius: 7px;
  display: block;
  object-fit: contain;
  justify-content: center;
  display: flex;
}


.blog-title {
  font-size: 1.9rem;
  margin-top: 20px;
  color: #ad5415;
  margin-top: 60px;
}

.intro {
  line-height: 1.8;
  font-size: 1.1rem;
  text-align: justify;
}

.billet {
  line-height: 1.8;
  font-size: 1.1rem;
  text-align: justify;
}

.float-img {
  width: 650px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-radius: 9px;
}


/* Contenu */
.blog-content {
  line-height: 1.8;
  font-size: 1.1rem;
  text-align: justify;
}

.blog-content .intro {
  margin-bottom: 30px;
}

.blog-section {
  margin-top: 30px;
}


.blog-section h1 {
  font-size: 1.5rem;
  color: #d77016;
  border-left: 5px solid #b03a2e;
  padding-left: 10px;
}

.blog1Arch {
  line-height: 1.8;
  font-size: 1.1rem;
  text-align: justify;
}

.blog2Arch {
  line-height: 1.8;
  font-size: 1.1rem;
  text-align: justify;
}

.blog3Arch {
  line-height: 1.8;
  font-size: 1.1rem;
  text-align: justify;
}

.footer-arch img {
  object-fit: contain;
  border-radius: 50%;
  /* optional, if your icon should be round */
  position: fixed;
  bottom: 180px;
  left: 40px;
  /* or right: 20px; if you want it on the right */
  width: 120px;
  height: 120px;
  opacity: 6;
  pointer-events: none;
  /* so it doesn't block clicks */
  filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.4));

}

/* Responsive */
@media screen and (max-width: 768px) {
  .blog-container {
    padding: 15px;
  }

  .blog-title {
    font-size: 1.6rem;
  }

  .blog-section h2 {
    font-size: 1.3rem;
  }

  .blog-content {
    font-size: 1rem;
  }
}