.gastro-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fffaf4;
  color: #333;
  line-height: 1.6;
}

.gastro-image {
  display: block;
  margin: 40px auto 30px auto;
  width: 65%;
  max-width: 800px;
  border-radius: 20px;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  filter: brightness(95%) contrast(105%);
  border: 5px solid rgba(181, 72, 41, 0.2); /* touche de couleur ramen/terre cuite */
}

.gastro-image:hover {
  transform: scale(1.02) rotateZ(-0.5deg);
  box-shadow: 0 18px 30px rgba(0, 0, 0, 0.2);
  filter: brightness(100%) contrast(110%);
}


.sait-tu-que-gastro {
  background-color: #fff0d4;
  padding: 15px 20px;
  border-left: 5px solid #e0a96d;
  border-radius: 4px;
  font-style: italic;
  margin-bottom: 30px;
  text-align: justify;
  line-height: 30px;
}

.billet-gastro h3 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #8c4c2f;
}

.billet-gastro p {
  font-size: 16px;
  margin-top: 10px;
  white-space: pre-line;
  text-align: justify;
  line-height: 30px;
}
